body{
      /* Modo de colocar los elementos internos en una rejilla */
      display: grid; 

      /* Separación entre filas */
      row-gap: 0.5rem; 

      /* Separación entre columnas */
      column-gap: 0.5rem; 

      /* Filas y columnas */
      grid-template: 
            "a a a" 
            "b c c" 
            "b d d"  
            "b e e"  
            "b f f"  
	    "g g g" / 1fr 1fr 1fr;
}
header{
	grid-area: a;
	background-color: #7497; 
}
nav{
	grid-area: b;
	margin-right-color: green;
}
#informacion-personal{
      grid-area: c;
}
#educacion{
      grid-area: d;
}
#proyectos{
      grid-area: e;
}
#habilidades {
      grid-area: f;
}
#contacto {
      grid-area: g;
}


