body{
      /* Modo de colocar los elementos internos en una rejilla */
      display: grid; 

      /* Separación entre filas */
      row-gap: 0.5rem; 

      /* Separación entre columnas */
      column-gap: 0.5rem; 

      /* Filas y columnas */
      grid-template: 
            "a a a" 40px
            "b c c" 40px
            "b c c" 40px 
		"d d d" 40px / 1fr 1fr 1fr;
}
header{
      grid-area: a;
}
nav{
      grid-area: b;
}
#informacion-personal,#educacion,#proyectos,#habilidades {
      grid-area: c;
}
#contacto {
      grid-area: d;
}


